
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^node\.masoon\-app\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.node\.masoon\-app\.com$
RewriteRule ^/?$ "https\:\/\/node\.masoon\-app\.com\/" [R=301,L]


